.banner-section {
    background: url(../images/header-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0 60px;
    margin: 0;
}
.about-section {
    background: url(../images/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.seo-section {
    background: url(../images/seo-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.project-section {
    background: url(../images/projects-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.p-adv-section {
    background: url(../images/ads-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.af-mar-section {
    background: url(../images/affliate-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.blog-section {
    background: url(../images/blog-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.payment-section {
    background: url(../images/payment-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.internet-section {
    background: url(../images/internet-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.landing-page-section {
    background: url(../images/landing-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.contact-section {
    background: url(../images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.sales-funnel-section {
    background: url(../images/sales-funnel-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.services-section {
    margin: 90px 0;
}
  
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
    border-radius: 0%;
  }
  
  .myaccordion .card-header {
    border: none !important; 
    background: transparent;
  }
  
  .myaccordion .fa-stack {
    font-size: 18px;
  }
  
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #404040;
    padding: 0;
  }
  
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }