html {
  overflow-x: hidden !important;
}

.navbar-nav .menu-item{
  margin: 0px 8px !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px !important;
}

.dropdown-menu .nav-link {
  padding: 4px 8px !important;
}

.dropdown-menu a:hover {
  color: #ce1b28 !important;
}
.blog-image .card-img-top{
  height: 185px !important;
  object-fit: cover !important;
}
.text-wrap{
  word-break: break-all !important;
}
footer li {
  margin-bottom: 4px !important;
}

.medium-italic, article a, #comments a {
  color: #ce1b28 !important;
  font-weight: 400 !important;
  font-style: italic !important;
}
.banner-section {
    background: url(../images/header-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0;
    margin: 0;
}
.about-section {
    background: url(../images/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.seo-section {
    background: url(../images/seo-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.project-section {
    background: url(../images/projects-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.p-adv-section {
    background: url(../images/ads-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.archive-section {
    background: url(../images/archives.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.af-mar-section {
    background: url(../images/affliate-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.blog-section {
    background: url(../images/blog-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.payment-section {
    background: url(../images/payment-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.internet-section {
    background: url(../images/internet-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 100px 0 60px; */
    margin: 0;
}

.landing-page-section {
    background: url(../images/landing-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.contact-section {
    background: url(../images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.sales-funnel-section {
    background: url(../images/sales-funnel-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.single-blog-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

.services-section {
    margin: 90px 0;
}
  
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
    border-radius: 0%;
  }
  
  .myaccordion .card-header {
    border: none !important; 
    background: transparent;
  }
  
  .myaccordion .fa-stack {
    font-size: 18px;
  }
  
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #404040;
    padding: 0;
    box-shadow: none;
    border: none;
    text-align: left;
  }
  
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
    box-shadow: none;
    border: none;
  }

  /* css for 404 page start */
  #notfound {
    position: relative;
    height: 100vh;
  }

  #notfound .notfound-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/404-bg.jpg');
    background-size: cover;
  }

  #notfound .notfound-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 36, 0.7);
  }

  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .notfound {
    max-width: 910px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }

  .notfound .notfound-404 {
    position: relative;
    height: 200px;
  }

  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 220px;
    font-weight: 900;
    margin: 0px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  
.notfound .home-btn, .notfound .contact-btn {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 13px 25px;
    font-size: 18px;
    border-radius: 40px;
    margin: 7px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  .notfound .home-btn:hover, .notfound .contact-btn:hover {
    opacity: 0.9;
  }

  .notfound .home-btn {
    color: rgba(255, 0, 36, 0.7);
    background: #fff;
  }

  .notfound .contact-btn {
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
  }

  .notfound-social {
    margin-top: 25px;
  }

  .notfound-social>a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 6px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  .notfound-social>a:hover {
    color: rgba(255, 0, 36, 0.7);
    background-color: #fff;
    border-radius: 50%;
  }

  
@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
      font-size: 182px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 146px;
    }
    .notfound .notfound-404 h1 {
      font-size: 146px;
    }
    .notfound h2 {
      font-size: 16px;
    }
    .notfound .home-btn, .notfound .contact-btn {
      font-size: 14px;
    }
  }
  
  /* css for 404 page end */

  /* #ez-toc-container {
    position: sticky !important;
    top: 48px !important;
  } */

  .menu-hauptmenue-container {
    margin-left: auto !important;
  }